Package: php5-sqlcipher
Version: _PHP_VER
Architecture: amd64
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Installed-Size: 350
Depends: libc6 (>= 2.13-38), libssl1.0.0 (>= 1.0.1e-2), _LIBICU (>= _LIBICU_VER), phpapi-_PHP_API, php5-common (= _PHP_DEB_VER)
Section: php
Priority: optional
Homepage: https://github.com/abbat/pdo_sqlcipher
Description: sqlcipher module for PHP 5
 SQLCipher is an SQLite extension that provides transparent
 256-bit AES encryption of database files.
